<h1>Emotional Tone Analysis</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".form-modal">Get Started</button>


<!-- graph -->
<div id="graph">
  <h2>Joy 😃</h2>
  <div class="progress">
    <div id="joy" class="progress-bar progress-bar-striped" role="progressbar"></div>
  </div>
  <h2>Disgust 🤮</h2>
  <div class="progress">
    <div id="disgust" class="progress-bar progress-bar-striped bg-success" role="progressbar"></div>
  </div>
  <h2>Sadness 😭</h2>
  <div class="progress">
    <div id="sadness" class="progress-bar progress-bar-striped bg-info" role="progressbar"></div>
  </div>
  <h2>Fear 😱</h2>
  <div class="progress">
    <div id="fear" class="progress-bar progress-bar-striped bg-warning" role="progressbar"></div>
  </div>
  <h2>Anger 🤬</h2>
  <div class="progress">
    <div id="anger" class="progress-bar progress-bar-striped bg-danger" role="progressbar"></div>
  </div>
</div>
<!-- -->






<div class="modal fade form-modal" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Analyze some text!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text">Enter Some Text To Analyze</label>
            <textarea class="form-control" id="text" rows="5"></textarea>
          </div>
          <div class="form-group">
            <button id="form-submit" class="btn btn-primary">Analyze</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>